@import 'src/styles/variables';

.settings-container {
  display: flex;
  flex-direction: column;
  padding: $spacing-medium;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: $spacing-small;
  font-size: $font-medium;
}

input[type="checkbox"] {
  display: none;
  margin-right: $spacing-small;
}

img.options-icon {
  width: 24px;
  height: 24px;
}

.custom-checkbox span {
  flex-grow: 1;
}