<div class="cc-wrapper" (click)="toggleOptions()">
  Options
  <ng-container *ngIf="isOptionsVisible; else caretRight">
    <img class="options-icon" src="assets/icons/feather-chevron-down.svg" alt="Caret Down" />
  </ng-container>
  <ng-template #caretRight>
    <img class="options-icon" src="assets/icons/feather-chevron-right.svg" alt="Caret Right" />
  </ng-template>
</div>

<div *ngIf="isOptionsVisible" class="settings-container">
  <label class="custom-checkbox">
    <input type="checkbox" [checked]="userPreferences.inputMode === 'push-to-talk'" (change)="togglePTT()" />
    <ng-container *ngIf="userPreferences.inputMode === 'push-to-talk'; else checkboxOff1">
      <img src="assets/icons/checkbox-true.svg" alt="Checkbox On" />
    </ng-container>
    <ng-template #checkboxOff1>
      <img src="assets/icons/checkbox-false.svg" alt="Checkbox Off" />
    </ng-template>
    <span>Push-to-Talk Mode</span>
  </label>

  <label class="custom-checkbox">
    <input type="checkbox" [checked]="userPreferences.outputMode === 'text'" (change)="toggleTextOnlyOutput()" />
    <ng-container *ngIf="userPreferences.outputMode === 'text'; else checkboxOff1">
      <img src="assets/icons/checkbox-true.svg" alt="Checkbox On" />
    </ng-container>
    <ng-template #checkboxOff1>
      <img src="assets/icons/checkbox-false.svg" alt="Checkbox Off" />
    </ng-template>
    <span>Text Only Response</span>
  </label>

  <label class="custom-checkbox">
    <input type="checkbox" [checked]="userPreferences.shouldAutostart" (change)="toggleAutostart()" />
    <ng-container *ngIf="userPreferences.shouldAutostart; else checkboxOff1">
      <img src="assets/icons/checkbox-true.svg" alt="Checkbox On" />
    </ng-container>
    <ng-template #checkboxOff1>
      <img src="assets/icons/checkbox-false.svg" alt="Checkbox Off" />
    </ng-template>
    <span>Autostart</span>
  </label>

</div>
