<app-header 
  title="Settings"
  leftIcon="feather-chevron-left.svg"
  (leftAction)="routeToDashboard()"
/>

<div class="settings-container">
  <label class="custom-checkbox">
    <input type="checkbox" [checked]="userPreferences.inputMode === 'push-to-talk'" (change)="togglePTT()" />
    <ng-container *ngIf="userPreferences.inputMode === 'push-to-talk'; else checkboxOff1">
      <img src="assets/icons/checkbox-true.svg" alt="Checkbox On" />
    </ng-container>
    <span>Push-to-Talk Mode</span>
  </label>

  <label class="custom-checkbox">
    <input type="checkbox" [checked]="userPreferences.outputMode === 'text'" (change)="toggleTextOnlyOutput()" />
    <ng-container *ngIf="userPreferences.outputMode === 'text'; else checkboxOff1">
      <img src="assets/icons/checkbox-true.svg" alt="Checkbox On" />
    </ng-container>
    <span>Text Only Response</span>
  </label>

  <label class="custom-checkbox">
    <input type="checkbox" [checked]="userPreferences.shouldAutostart" (change)="toggleAutostart()" />
    <ng-container *ngIf="userPreferences.shouldAutostart; else checkboxOff1">
      <img src="assets/icons/checkbox-true.svg" alt="Checkbox On" />
    </ng-container>
    <span>Autostart</span>
  </label>

  <label class="custom-checkbox">
    <input type="checkbox" [checked]="userPreferences.shouldSaveChats" (change)="toggleSaveChats()" />
    <ng-container *ngIf="userPreferences.shouldSaveChats; else checkboxOff1">
      <img src="assets/icons/checkbox-true.svg" alt="Checkbox On" />
    </ng-container>
    <span>Save Chat Logs</span>
  </label>
</div>

<ng-template #checkboxOff1>
  <img src="assets/icons/checkbox-false.svg" alt="Checkbox Off" />
</ng-template>
