<app-header 
  rightIcon="check.svg"
  (rightAction)="complete()"
/>

<div class="new-entry-component">
  <!-- <button (click)="complete()">Finish</button> -->
  <!-- (mousedown)="handleMouseDownOrTouchStart()"
  (mouseup)="handleMouseUpOrTouchEnd()"
  (touchstart)="handleMouseDownOrTouchStart()"
  (touchend)="handleMouseUpOrTouchEnd()" -->
  <button
  (click)="handleRecord()"
  [ngClass]="{
    'mic-button': true,
    'ptt': isPushToTalkMode,
    'vad': !isPushToTalkMode,
    'recording': isRecording,
    'idle': !isRecording
  }">
  <ng-container *ngIf="!isPushToTalkMode; else micOff">
    <!-- <app-mic-on-icon></app-mic-on-icon> -->
    <img src="assets/icons/mic-on.svg" alt="Mic On" />

  </ng-container>
  <ng-template #micOff>
    <!-- <app-mic-off-icon></app-mic-off-icon> -->
    <img src="assets/icons/mic-off.svg" alt="Mic Off" />

  </ng-template>

  </button>

  <div class="vu-container-wrapper">
    <div class="vu-meter-container mic-container">
      <img src="assets/icons/mic-on.svg" alt="Mic On" />
      <app-volume-meter [audioData]="audioInput" />
    </div>
    <div class="vu-meter-container speaker-container">
      <img src="assets/icons/volume-on.svg" alt="Speaker On" />
      <app-volume-meter [audioData]="audioOutput" barColor="yellow" />
    </div>
  </div>

  <app-conversation class="conversation" [items]="conversationItems" (deleteItem)="handleDeleteItem($event)"></app-conversation>

  <div class="text-input-container input-container">
    <input [(ngModel)]="inputText">
    <button (click)="sendTextMessage()">
      <img class="img-send" src="assets/icons/feather-send.svg" />
    </button>
  </div>

</div>

