
button.main-button {
  width: 100%;
}

button.main-button.start {
  background-color: #009900;
}

button.main-button.finish {
  background-color: #FF3F3c;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}