.text-input-container {
  display: flex;
  justify-content: center;
  height: 36px;
}

.text-input-container button {
  width: auto !important;
  height: 36px;
  margin: 0;
}

input {
  flex-grow: 1;
}