<app-header 
  leftIcon="menu.svg"
  rightIcon="close.svg"
  (leftAction)="backToDashboard()"
  (rightAction)="backToDashboard()"
/>
<div class="menu-component">
  <!-- <div class="menu-item" (click)="handleFoo()">About</div>
  <div class="menu-item" (click)="handleSettings()">Settings</div> -->

  <div *ngIf="isAuthenticated" class="logout-component">
    <div class="display-name-container">Hi, John Doe</div>
    <!-- <button (click)="handleLogout()">Logout</button> -->
    <div class="signout-button button-container" (click)="handleLogout()">
      Signout
      <img class="logout-icon" src="assets/icons/feather-log-out.svg" alt="Logout" />
    </div>

  </div>
</div>
