.menu-component {
  margin: 16px;
}

.menu-item {
  margin-bottom: 8px;
}

.logout-component {
  display: flex;
  justify-content: space-between;
  // margin: 0 16px;
}

.logout-icon {
  width: 20px;
  padding-left: 4px;
}