.audio-input-container {
  display: flex;
  /* margin: 20px auto; */
  justify-content: center;
  flex-direction: column;
}

.audio-input-container button {
  margin: 0 8px;
}

.visualization {
  display: flex;
  padding: 24px 0;
  border-radius: 16px;
  z-index: 10;
  gap: 2px;
  justify-content: space-between;
}

.visualization .visualization-entry {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  width: 100px;
  gap: 4px;
}

.visualization-entry.client {
  color: #0099ff;
}

.visualization-entry.server {
  color: #009900;
}
.visualization .visualization-entry canvas{
  width: 100%;
  height: 100%;
  color: currentColor;
}

button.mic-button {
  margin: 0;
}

.mic-button.vad, .mic-button.ptt.recording {
  background-color: #009900;
}

.mic-button.ptt.idle {
  background-color: #FF3F3c;
}